{% extends 'layout-minimal.html.twig' %}

{% block content %}
    <div class="login-container card">
        <h1>You are now logged out</h1>

        <p>You can <a href="/login">Login again</a> or <a href="/">Return to the homepage</a>.</p>
    </div>
{% endblock %}